<!doctype html>
<html lang="en" ng-app='website'>
    <head>
        <meta charset="utf-8">

        <title>DesignWorks</title>
        
<!--        SEO         -->
        <meta name="description" content="The Digital Design and Development firm brought to you by Northwestern's coolest designers and developers. We're here at your service. Check out our work and get a quote for your requirements.">
        <meta name="keywords" content="Design, Development, Website, Logos, Flyers ">
        <meta name="author" content="Designworks">

<!--        STYLES AND ANGULAR/JQ INCLUSION         -->
        <link rel="stylesheet" href="../public/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->

    </head>
    <script>
	$(window).scroll(function() {
		$('#animatedElement').each(function(){
		var imagePos = $(this).offset().top;

		var topOfWindow = $(window).scrollTop();
			if (imagePos < topOfWindow+400) {
				$(this).addClass("slideUp");
			}
		});
	});
    </script>
    <body>
        <ul class="cb-slideshow">
            <li><span>Ski trip</span></li>
            <li><span>Image 01</span></li>
            <li><span>Image 02</span></li>
            <li><span>Image 03</span></li>
            <li><span>Image 01</span></li>
            <li><span>Image 02</span></li>
            <li><span>Image 03</span></li>
        </ul>
        <section id="header">
            <img src="../public/img/portfolio/house.jpg">
            <div class="slide_text">
                <img class="aligned centerlogo" src="../public/img/favicon.png">
                <h2>Logo and Branding for <span class=orange>Peanut Butter</span></h2>
            </div>
            <h1 class=main_text>
                <span class="red">D</span><span class=orange>e</span><span class=teal>s</span><span class=blue>i</span><span class="purple">g</span><span class="red">n</span><span class=orange>W</span><span class=teal>o</span><span class=blue>r</span><span class="purple">k</span><span class="red">s</span>. <span class="purple">Northwestern's</span> <span class=orange>coolest</span> <span class=teal>designers</span> &amp; <span class=blue>designers</span> at your <span class=red>service</span>.
            </h1>
            
        </section>
        <section id="portfolio">
            <div class=nav>
                <ul class="aligned tabs">
                    <li class="inlined redtab"><h3 class=tab>Contact Us</h3></li>
                    <li class="inlined bluetab"><h3 class=tab>View Our Work</h3></li>
                </ul>
            </div>
            <div class="col-offset-2">
                <ul>
                    <li class="left col-5 inlined portfolio_image">
                            <img src="../public/img/portfolio/DALC.jpg" class="col-12">
                            <h6 class="col-12 description">Department of Asian Language and Cultures Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor</h6>
                    </li>
                    <li class="left col-5 inlined portfolio_image">
                        
                        <img src="../public/img/portfolio/phantom.png" class="col-12 ">
                        <h6 class="col-12 description">It was all a dream, used to read wordup magazine. pour up drank Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum</h6>
                    </li>
                    <li class="left col-5 portfolio_image">
                        <img src="../public/img/portfolio/lion.png" class="col-12 ">
                        <h6 class="col-12 description">The lion. Majestic beast, coolest character in Narnia, please hire us. Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum</h6>
                    </li>
                </ul>
                
            </div>
            <div class="blocked right"><a id=yellowtab href=#><h3 class=tab>Full Portfolio...</h3></a></div>
        </section>

        <section id="howitworks">
            <div class="col-8 col-offset-4">
                <h3 class="aligned statement">Let's make <span class=red>magic</span> happen.</h3>
                <ul>
                    <li>
                        <p class="process_num mega left inlined">1.</p>
                        <h5 class="process_text col-12 right inlined">Step one has a lot to do with a sting ray. I don't remember what it was but the point is that we want three lines worth of text </h5>
                    </li>
                    <li>
                        <p class="process_num mega left inlined">2.</p>
                        <h5 class="process_text col-12 right inlined">Step two has a lot to do with a sting ray. I don't remember what it was but the point is that we want three lines worth of text </h5>
                    </li>
                    <li>
                        <p class="process_num mega left inlined">3.</p>
                        <h5 class="process_text col-12 right inlined">Step three has a lot to do with a sting ray. I don't remember what it was but the point is that we want three lines worth of text </h5>
                    </li>
                </ul>
            </div>
        </section>
        <section id="team">
            <h3 class="statement aligned">A team that <span class=purple>works</span> together <span class=blue>creates</span>  together.</h3>
            <div class="row inlined col-16">
                <img src="../public/img/team/Armaan1.jpg" class="member inlined col-3">
                <img src="../public/img/team/Armaan1.jpg" class="member inlined col-3">
                <img src="../public/img/team/Armaan1.jpg" class="member inlined col-3">
                <img src="../public/img/team/Armaan1.jpg" class="member inlined col-3">
                <img src="../public/img/team/Armaan1.jpg" class="member inlined col-3">
            </div>
            <div class="row  inlined col-16">
                <div class=team_text_margin><h1 class="left team_text col-9 leftalign"><span class=blue>Designworks</span> is a design and digital firm stocked with the best and brightest at <span class=purple>Northwestern University</span></h1></div>
                <div class="specialrow blocked">
                    <img src="../public/img/team/Armaan1.jpg" class="member inlined col-3">
                    <img src="../public/img/team/Armaan1.jpg" class="member inlined col-3">
                </div>
                
            </div>
            <div class="row inlined col-16">
                <img src="../public/img/team/Armaan1.jpg" class="member inlined col-3">
                <img src="../public/img/team/Armaan1.jpg" class="member inlined col-3">
                <img src="../public/img/team/Armaan1.jpg" class="member inlined col-3">
                <img src="../public/img/team/Armaan1.jpg" class="member inlined col-3">
                <img src="../public/img/team/Armaan1.jpg" class="member inlined col-3">
            </div>
        </section>
    </body>
    
    <!--
    <body ng-controller="CoverController as cover">     
        <div id="header">
              Product Container  
            <div id="inner" ng-repeat="slide in cover.slides">
                <h3>{{slide.description}} <span style="color:{{slide.color}}">{{slide.name}}</span></h3>
                <img ng-src={{slide.image}}  ng-hide="!isCurrentSlideIndex($index)">
            </div>
        
        <ul class="dots">
            <li class="dot" ng-repeat="slide in cover.slides">
                <a href="#" ng-class= "{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index);">
                    {{slide.description}}
                </a>
            </li>
        </ul>
        </div>
        
        <script type="text/javascript" src="../public/app.js"></script>
-->

<!--    </body>-->
</html>
