<!DOCTYPE html>
<html>
<head>
    <title>Designworks</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../public/img/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../public/css/styles.css">
    <script src="../public/js/modules/jquery.min.js"></script>
    <script src="../public/js/modules/masonry.pkgd.min.js"></script>

</head>

<body>
    <?php include_once("analyticstracking.php") ?>

    <!--    Nav bar     -->
    <ul class="centered col-16 nav">
            <li class="inlined"><a href=work.html>Work</a></li>
<!--            <li class="inlined "><a href=process.html>Process</a></li>-->
            <li class="inlined "><a href=index.html><img class=homelogo src=../public/img/logo.png></a></li>
            <li class="inlined"><a href=contact.html>Contact</a></li>
<!--            <li class="inlined"><a href=join.html>Join</a></li>-->
    </ul>
    <section class="centered col-14">
        <h1 class="portfolio-title mega purple leftalign col-8 inlined">Our Portfolio.</h1>
        <h2 class="portfolio-text col-8 inlined">We're pretty proud of it.</h2>
        
        <div id="masonry-grid">
            <div class="gutter-sizer"></div>
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/Klick.png" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/computer_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Website for Klick Together</p>
                </div>
            </div>
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/peanutbutter.png" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/business_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Branding for Peanut Butter</p>
                </div>
            </div>
            
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/turbin4.jpg" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/files_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Print Design</p>
                </div>
            </div>
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/norris.png" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/business_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Branding for Norris at Night</p>
                </div>
            </div>
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/lion.png" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/files_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Branding</p>
                </div>
            </div>
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/extractingcreativity.jpg" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/files_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Print Design</p>
                </div>
            </div>
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/polisci.png" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/business_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Logo Design for Northwestern Political Science</p>
                </div>
            </div>
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/nuvc.jpg" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/files_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Print Design for Northwestern Venture Competition</p>
                </div>
            </div>
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/bigsean.png" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/files_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Print Design for A&amp;O Blowout</p>
                </div>
            </div>
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/turbin3.jpg" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/files_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Print Design for Norris Anniversary</p>
                </div>
            </div>
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/SkiTrip.png" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/clothes_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Apparel Design for Ski Trip</p>
                </div>
            </div>
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/passionpit.jpg" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/files_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Print Design for A&amp;O Ball</p>
                </div>
            </div>
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/phantom.png" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/clothes_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Apparel Design</p>
                </div>
            </div>
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/font.jpg" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/files_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Print Design</p>
                </div>
            </div>
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/icons.png" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/computer_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Logo Design</p>
                </div>
            </div>
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/DALC.jpg" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/files_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Print Design for Department of Asian Languages</p>
                </div>
            </div>
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/counterpoint.jpg" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/files_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Print Design</p>
                </div>
            </div>
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/chinanight.jpg" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/files_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Print Design</p>
                </div>
            </div>
<!--
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/aibootcamp.jpg" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/files_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Print Design for Illustrator Workshop</p>
                </div>
            </div>
-->
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/americanpath.jpg" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/computer_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Website for American Path</p>
                </div>
            </div>
            <div class="grid-size grid-item">
                <img src="../public/img/portfolio/vas2.jpeg" class=col-16>
                <div class="img-description col-16">
                    <img class="icon-middle col-offset-1 inlined col-3" src="../public/img/service-icons/files_1024x1024.png">
                    <p class="col-offset-1 inlined col-10">Print Design for Undergraduate Research &amp; Arts</p>
                </div>
            </div>
        </div>
    </section>    
    <footer>
        <div class="footer-text aligned col-16">
            <h4 class="">That's all, folks!</h4>
            <h5><a class="" href=join.html><span class=redhover>J</span><span class=orangehover>o</span><span class=tealhover>i</span><span class="bluehover">n</span> <span class="purplehover">U</span><span class=greenhover>s</span></a></h5>
            <ul class="social">
                <li class=inlined><a href="mailto:hello@designworks.nu"><img class=icon src="../public/img/social-icons/envelope-icon-4.png"></a></li>
                <li class=inlined><a target="_blank" href="https://www.instagram.com/designworksnu/"><img class=icon src="../public/img/social-icons/instagram-4.png"></a></li>
                <li class=inlined><a target="_blank" href="https://www.facebook.com/designworks.nu
                    "><img class=icon src="../public/img/social-icons/facebook.png"></a></li>
                <li class=inlined><a target="_blank" href="https://www.linkedin.com/company/9283652?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A4505433201479135866461%2CVSRPtargetId%3A9283652%2CVSRPcmpt%3Aprimary"><img class=icon src="../public/img/social-icons/linkedin.png"></a></li>
            </ul>
        </div> 
    </footer>
    <script>
        jQuery(window).on('load', function() { 
            var $container = $('#masonry-grid');
            $container.masonry({
              columnWidth: '.grid-size',
              itemSelector: '.grid-size',
              gutter: '.gutter-sizer',
              percentPosition: true,
              isAnimated: true,
              animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
              }
            });
        });
    </script> 
</body>  
</html>
