/* Remove padding and margin */ 
* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

@font-face {
    font-family: "general";
    src: url("../fonts/CircularStd-Medium.otf") format("truetype");
}

@font-face {
    font-family: "title";
    src: url("../fonts/CircularStd-Bold.otf") format("truetype");
}

html {
    background-color: rgb(238,241,244);
    font-family: "title", sans-serif;
}


/*******************************************************************/
/* STYLE TABLE 
--
-- BASIC STYLING AND BASIC CLASS OPTIONS
-- NAVBAR STYLES
-- TAB STYLES (CONTACT, FULL PORTFOLIO, PROCESS BUTTONS)

-- VIEWS:
--    SLIDESHOW (HOMEPAGE LANDING COVER PHOTOS) SECTION (HOMEPAGE)
--    WE ARE DESIGNWORKS SECTION (HOMEPAGE)
--    PROCESS PAGE (PROCESS PAGE)
--    HOW IT WORKS SECTION (HOMEPAGE)
--    TEAM SECTION (HOMEPAGE)
--    CONTACT PAGE (CONTACT PAGE)
--    WORK PAGE (WORK PAGE)

-- FOOTER SECTION
-- WEBSITE COLORS

-- GRIDDING
    -- GENERAL GRID -> 16-PART GRIDDING
    -- TEAM GRID -> 7-PART GRIDDING

-- MEDIA QUERIES/RESPONSIVE DESIGN FOR THE FOLLOWING WIDTHS
    -- 1250
    -- 980
    -- 930
    -- 830
    -- 720
    -- 650
    -- 600
    -- 500    
    -- 470
*/
/*******************************************************************/

.clear { 
    clear:both; 
} 

.clear-left {
    clear:left;
}

.right a{ 
    float: right; 
} 

.right {
    float:right;
}

.left { 
    float: left; 
}

.aligned {
    text-align: center;
}

.leftalign {
    text-align: left;
}

.inlined {
    display: inline-block;
}

.blocked {
    display:block;
}

.centered {
    margin: 0 auto;
}

.inherits {
    width:inherit;
    padding:inherit;
}

ul {
/*    display: inline;*/
    list-style: none;   
}

.giga {
    font-size: 5.5em;
}

.mega {
    font-size:4em;
}

.large {
    font-size: 3em;
}

h1 { 
    font-size: 2.5em; 
} 

h2 { 
    font-size: 2.0em;     
} 

h3 { 
    font-size: 1.8em; 
} 

h4 { 
    font-size: 1.6em;     
} 

h5 { 
    font-size: 1.4em;     
}

h6 {
    font-size:1.1em;
}

p { 
    font-size: .9em;     
}



/**********************
***  Navbar Styles ***
***********************/

.nav {
    text-align: center;
    background: white; 
    padding: .2em 0;    
    position:fixed;
    z-index: 1000;

}

.nav li {
    padding: 0 1rem;
    font-size: 1.3em;
    font-family: 'general','sans-serif';
}

.mininav {
    text-align: center;
    margin-top:-1.4rem;
}

.homelogo {
    vertical-align: middle;
    width:60%;
}

.nav li a {
    text-decoration: none;
    color:black;
}
/**********************************************************
***     Tab Styles (i.e. full portfolio, contact us)    ***
***********************************************************/

.tab {
    color:white;
    padding: 0 .2em;
}

#redtab {
    color:white;
    background-color: rgb(237,84,85);
    text-align: center;
}

#orangetab {
    background-color: rgb(250,178,49);
    text-decoration: none;
    padding: .1em 4.5em .1em .1em;
    margin-bottom: -1.4rem;
}

#bluetab {
    background-color: rgb(89,161,213);
    text-decoration: none;
    padding: .1em 4.5em .1em .1em;
    margin-top: 1.6em;
}

/****************************
***  Slideshow Section ***
****************************/

.slideshow,
.slideshow:after { 
/*    position: fixed;*/
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}

/*
arrows for landing image
slide left for landing image
designworks word on landing image
mobile focus on landing image
process responsiveness on large size
add 5 more images to grid
make team pictures respond to funny images

*/

.cover { 
    width: 100%;
    height: 100%;
/*    position: relative;*/
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 75% 50%;
    background-repeat: none;
/*    opacity: 0;*/
    z-index: 0;
/*    vertical-align: text-top;*/
}

.main_text { 
    z-index: 1;
    position: absolute;
    top: 7em;
}

.main_text h2 {
    font-size: 2.5em;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
}

.arrows {
    top:45%;
    
}

.slide-arrows {
/*    position:absolute;*/
    top:45%;
    z-index: 10000;
    color:rgb(192, 213, 234);
/*    width:2%;*/
/*    height:1.5em;*/
/*    background-color: aqua;*/
    font-size:3em;
}


.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: .8s;	
	-webkit-animation-duration: .8s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
/*
	50%{
		transform: translateX(-8%);
	}
	65%{
		transform: translateX(4%);
	}
	80%{
		transform: translateX(-4%);
	}
	95%{
		transform: translateX(2%);
	}			
	100% {
		transform: translateX(0%);
	}
*/
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	50%{
		-webkit-transform: translateX(-8%);
	}
	65%{
		-webkit-transform: translateX(4%);
	}
	80%{
		-webkit-transform: translateX(-4%);
	}
	95%{
		-webkit-transform: translateX(2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}

.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: .01s;	
	-webkit-animation-duration: .01s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
/*
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
*/
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}


/****************************
***  We Are DW Section ***
****************************/


#hello {
    width:100%;
    background-color: rgb(238,241,244);
}



.hello_content {
    margin: 0 auto;
    padding: 3em 0;
}

p.description {
    margin: 0 auto;
    padding: 1em;
    font-size: 1.5em;
    font-family: 'general', 'sans-serif';
}

/****************************
***  Process Section ***
****************************/
.process_text {
    padding: 1em 0em 1em 1em;
    font-family: 'general', 'sans-serif';
}

.process_num {
/*    padding-top:.1em;*/
    width:1em;
    font-family: 'general', 'sans-serif';
}

.process-description {
    padding: 1em 0em 1em 1em;
    font-family: 'general', 'sans-serif';
}

/****************************
***  How it Works Section ***
****************************/

#service {
    width:100%;
    clear:both;
    padding: 0em 0 3em 0;
    background-color: rgb(207,216,220);
    margin-bottom: 2em;
}

.service-main-text {
    padding: 1em 0 .5em 0; 
}

.service-logo {
    width: 5em;
    padding: 1em;
}

.service-description {
    padding: 1em 0em 1em 1em;
    font-family: 'general', 'sans-serif';
}

/*.imgWrap {} not used until responsive design*/


/*********************
***  Team Section  ***
*********************/

.statement {
    padding: 1em 0 ;
}

#team {
    width:100%;
}

.team_text {
    padding: .5em;
    font-size:1.8em;
    font-family: 'title', 'sans-serif';
}

/*********************
***  Contact Page  ***
*********************/
.contact-title, .portfolio-title, .process-title, .join-title {
    padding-top: 6rem;
}

.contact-text, .portfolio-text, .process-text, .join-text {
    padding: .3em 0 1.5em 0;
}

.form_text {
/*    display:inline-block;*/
    font-size:1.6em;
/*    padding: .3em 0;*/
}

form div {
    padding: .5em 0;
}

input, select, textarea {
    outline: none;
    background-color: rgb(56,72,79);
    border-radius: 10px;
    padding:.6em;
    font-size:1em;
    color:white;
    font-family: 'general', sans-serif;
}

select {
    height: 2.2em;
}

.note-input {
    height:3.5em;
    vertical-align: text-top;
}

input[type=submit] {
    background-color: rgb(154,84,158);
    cursor: pointer;
}

.hide {
    visibility:hidden;
}

/*********************
***  Work Section  ***
*********************/
#masonry-grid {width:100%;}
#masonry-grid .grid-item {
    margin: .5em 0;
}

.gutter-sizer {width:2%;}

.grid-size { width: 23%;}

.grid-item > img {
    width:100%;
/*    border: 1px solid rgb(221, 221, 221);*/
}

.img-description {
    background-color: rgb(245,163,58);
    position:absolute;
    bottom: 0;
    vertical-align: middle;
    visibility: hidden;
    opacity: 0;
    padding: .5em 0 ;
/*
    -webkit-transition: visibility opacity 1s;
    transition: visibility opacity 1s;
*/
}

.icon-middle {
    vertical-align: middle;
}

.img-description p {
    vertical-align: middle;
    font-size:1em;
}

.grid-item:hover .img-description {
    visibility: visible;
    opacity: 1;
}

.grid-item:hover {
    border: 1px solid #e2e2e2;
}
/*********************
***  Footer Section  ***
*********************/
footer {
    background-color: rgb(56,72,79);
    color:white;
    margin-top: 3em;
/*    position:absolute;*/
    clear:both;
    bottom:0px;
    left:0px;
/*    position:absolute;*/
    
}

footer a {
    text-decoration: none;
    color: white;
    
}

footer a:hover > .tealhover {color: rgb(49,165,153);}
footer a:hover > .bluehover {color: rgb(89,161,213);}
footer a:hover > .purplehover {color: rgb(154,84,158);}
footer a:hover > .redhover {color: rgb(237,84,85);}
footer a:hover > .orangehover {color: rgb(245,163,58);}
footer a:hover > .greenhover {color: rgb(81,181,87);}

.footer-text {
    padding:3em 0;
}

.social {
    margin-top:.8em;
}

.social li {
    display: inline;
}

.icon {
    width:3%;
    margin:1em;
}

/*********************
***  Site Colors  ***
*********************/

.purple {
    color: rgb(154,84,158);
}

.orange {
    color: rgb(245,163,58);
}

.teal {
    color: rgb(49,165,153);
}

.blue {
    color: rgb(89,161,213);
}

.red {
    color: rgb(237,84,85);
}

.green {
    color: rgb(81,181,87);
}

/*********************
***    Gridding   ****
*********************/

.col-1 {width: 6.25%;}
.col-2 {width: 12.5%;}
.col-3 {width: 18.75%;}
.col-4 {width: 25%;}
.col-5 {width: 31.25%;}
.col-6 {width: 37.5%;}
.col-7 {width: 43.75%;}
.col-8 {width: 50%;}
.col-9 {width: 56.25%;}
.col-10 {width: 62.5%;}
.col-11 {width: 68.75%;}
.col-12 {width: 75%;}
.col-13 {width: 81.25%;}
.col-14 {width: 87.5%;}
.col-15 {width: 93.75%;}
.col-16 {width: 100%;}

/* offest */
.col-offset-16 {margin-left: 100%;}
.col-offset-15 {margin-left: 93.75%;}
.col-offset-14 {margin-left: 87.5%;}
.col-offset-13 {margin-left: 81.25%;}
.col-offset-12 {margin-left: 75%;}
.col-offset-11 {margin-left: 68.75%;}
.col-offset-10 {margin-left: 62.5;}
.col-offset-9 {margin-left: 56.25%;}
.col-offset-8 {margin-left: 50%;}
.col-offset-7 {margin-left: 43.75%;}
.col-offset-6 {margin-left: 37.5%;}
.col-offset-5 {margin-left: 31.25%;}
.col-offset-4 {margin-left: 25%;}
.col-offset-3 {margin-left: 18.75%;}
.col-offset-2 {margin-left: 12.5%;}
.col-offset-1 {margin-left: 6.25%;}
.col-offset-0 {margin-left: 0%;}

/*********************
*** Team Gridding ****
*********************/
.team-col-0 {width:0%;}
.team-col-1 {width: 14.28%;}
.team-col-2 {width: 28.57%;}
.team-col-3 {width:42.86%;}
.team-col-4 {width: 57.14%;}
.team-col-5 {width: 71.43%;}
.team-col-6 {width: 85.71%;}
.team-col-7 {width: 100%;}

.team-col-offset-7 {margin-left: 100%;}
.team-col-offset-6 {margin-left: 85.71%;}
.team-col-offset-5 {margin-left: 71.43%;}
.team-col-offset-4 {margin-left: 57.14%;}
.team-col-offset-3 {margin-left: 42.86%;}
.team-col-offset-2 {margin-left: 28.57%;}
.team-col-offset-1 {margin-left: 14.28%;}
.team-col-offset-0 {margin-left: 0%;}

/*********************
***   Responsive   ***
*********************/

@media screen and (max-width:1250) {
    /*********************
    ***  Team Section  ***
    *********************/
    
    .main_text {
        font-size:2em;
        top:6em;
    }
    
}

@media screen and (max-width:980px) {
    /****************************
    ***  Services Section     ***
    ****************************/
    
    /*********************
    ***  Team Section  ***
    *********************/
    
    .team_text {
        font-size: 1.5em;
    } 
}

@media screen and (max-width:930px) {
    /*********************
    ***  Service Section  ***
    *********************/
    #service >div {
        width:87.5%;
    }
    
    /*********************
    ***  Work Section  ***
    *********************/
    .portfolio-title, .portfolio-text, .process-title, .process-text,join-title, join-text {
        width: 81.25%;
    }
    
    .grid-size {
        width:30%
    }
    .grid-item > img {
        width:100%;
    }
    .gutter-sizer { width:3%; }
    
}

@media screen and (max-width:830px) {
    /***************************
    ***  Slideshow Section  ***
    ***************************/
    .main_text h2 {
        font-size: 1.5em;
    }
    
    /*********************
    ***  Team Section  ***
    *********************/
    .team_text {
        font-size: 1.3em;
    }
    
    /*************************
    ***  Services Page  ***
    *************************/
    
}

@media screen and (max-width:720px) {
    /***************************
    ***  Slideshow Section  ***
    ***************************/
    .main_text h2 {
        font-size: 1em;
    }
    
    /*********************
    ***  Team Section  ***
    *********************/
    .team_text {
        font-size: 1.1em;
    }
    .medium-col-13 {
        width: 81.25%;
    }
    
    /*************************
    ***  Contact Page  ***
    *************************/
    .medium-col-8 {
        width: 37.5%;
    }
    
    .medium-col-5 {
        width:30%;
    }
}  

@media screen and (max-width:650px) {
    /*************************
    ***  Process Section  ***
    *************************/
    #service div {
        width: 93.75%;
    }
}

@media screen and (max-width:600px) {
    /***************************
    ***  Slideshow Section  ***
    ***************************/
    .main_text h2 {
        font-size: 1em;
    }

    .slideshow, 
    .slideshow:after { 
/*    position: fixed;*/
/*    width: 100%;*/
/*    height: 100%;*/
    top: 0px;
    left: 0px;
    z-index: 0; 
    }   
    
    .cover { 
        width: 100%;
        height: 100%;
    /*    position: relative;*/
        top: 0px;
        left: 0px;
        color: transparent;
        background-size: cover;
        background-position: 75% 50%;
        background-repeat: none;
    /*    opacity: 0;*/
        z-index: 0;
    /*    vertical-align: text-top;*/
    }
    
    /*************************
    ***  Process Section  ***
    *************************/
    #service div {
        width: 100%%;
    }
    
    .service-description {
        text-align: center;
        width: 100%;
        padding:0 0 1em 0;
        margin:0;
    }
    
    .service-logo {
        float:none;
        clear: none;
    }
    .imgWrap {
        text-align: center;
    }
    
    
    /*********************
    ***  Team Section  ***
    *********************/
    .team_text {
        font-size: .9em;
    }
    
    /*************************
    ***  Process Section  ***
    *************************/
    .small-col-15 {
        width: 93.75%;
    }
    
    /*************************
    ***  Work Section  ***
    *************************/
    .portfolio-title, .portfolio-text, .process-title, .process-text, join-title, join-text {
        width: 100%;
    }
    
    .grid-size {
        width:47%;
    }
    .grid-item > img {
        width:100%;
    }
    .gutter-sizer { width:3%; }
    
    .img-description p {
        font-size: .9em;
    }
    /*************************
    ***  Footer Section  ***
    *************************/
    .icon {
        width:5%;
        margin:1em;
    }

}

@media screen and (max-width:500px) {
    /*********************
    ***  Team Section  ***
    *********************/
    .team_text {
        font-size: .7em;
    }
}


@media screen and (max-width:470px) {
    /*********************
    ***  Team Section  ***
    *********************/
    
    /*        override stylings of desktop     */

    .clear-left {
        clear:none;
    }
    .team_text {
        font-size: .7em;
        width:0%;
    }
    .mobile-hide {
        display:none;
    }
    .team-col-1 {
        width:33%;
    }
    
    /*************************
    ***  Service and Process Section  ***
    *************************/
    .mobile-col-16 {
        width: 100%;
    }
    .mobile-col-10 {
        width: 62.5%;
    }
    
    .mobile-clear-float {
        text-align: center;
        width: 100%;
        padding:0;
        margin:0;
    }
    
    .service-logo {
        float:none;
    }
    .imgWrap {
        text-align: center;
    }
    /*************************
    ***  Contact Page  ***
    *************************/
    .form_text {
        display: block;
        text-align: center;
        padding:0;
    }
    
    /**********************************
    ***  Work and Process Sections  ***
    **********************************/
    .portfolio-title, process-title, {
        font-size: 3em;
    }
    .portfolio-text, .process-text, .join-text {
        font-size: 2em;
    }
}